.about-container{
    margin: 2rem 6rem;
    text-align: start;
}

.about-container h1{
    padding-bottom: 1rem;
}

.about-container p{
    padding-bottom: 0.8rem;
    text-align: justify;
}

@media screen and (max-width: 850px) {
    .about-container{
        margin: 2rem 2rem;
    } 
}